---
# Update Time: 2024-1-4 1:05
version: "3.4"

x-defines:
  service-common: &service-common-ref
    networks: [network_cluster]
  env-common: &env-common-ref
    NO_PROXY: ${NO_PROXY:-localhost,127.0.0.1,::1}
    TZ: ${TZ:-Asia/Shanghai}    
  env-proxy: &env-proxy-ref
    HTTP_PROXY: ${OPENCLASH_HTTP_PROXY}
    HTTPS_PROXY: ${OPENCLASH_HTTP_PROXY}
    http_proxy: ${OPENCLASH_HTTP_PROXY}
    https_proxy: ${OPENCLASH_HTTP_PROXY}
  deploy-common: &deploy-common-ref
    mode: replicated
    replicas: 1
    restart_policy:
      condition: on-failure
      delay: 5s      
  placement-default: &placement-default-ref
    placement:
      constraints:
        - node.labels.type == vm
        - node.labels.automation == true
  driver-common: &driver-common-ref
    type: nfs
    o: addr=${NFS_SERVER},rw, nfsvers=4

services:
  # ------------------------------------------------------------
  # Home Assistant家庭自动化系统
  # ------------------------------------------------------------
  homeassistant:
    <<: *service-common-ref
    # image-ref: ghcr.nju.edu.cn/home-assistant/home-assistant:stable
    image: ghcr.nju.edu.cn/home-assistant/home-assistant:stable
    environment:
      <<: [*env-common-ref, *env-proxy-ref]
    volumes:
      - nfs_homeassistant_conf:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    logging:
      driver: fluentd
      options:
        tag: docker.automation.homeassistant
        fluentd-async-connect: "true"
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.homeassistant.rule=Host(`ha.${DOMAIN_SWARM}`,`ha.${DOMAIN_EMERGENCY}`)
        - traefik.http.routers.homeassistant.entrypoints=websecure
        - traefik.http.routers.homeassistant.service=homeassistant
        - traefik.http.routers.homeassistant.middlewares=auth,cors-headers@file,normal-chain@file
        - traefik.http.services.homeassistant.loadbalancer.server.port=8123
        - homepage.group=AI & Automation
        - homepage.name=Home Assistant
        - homepage.icon=home-assistant.png
        - homepage.href=https://ha.${DOMAIN_SWARM}:${EXTERNAL_PORT}/
        - homepage.description=智能家居
        - homepage.siteMonitor=http://homeassistant:8123
        - homepage.weight=10
      <<: [*deploy-common-ref, *placement-default-ref]

networks:
  network_cluster:
    external: true

volumes:
  # NFS
  nfs_homeassistant_conf:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/automation/homeassistant/conf
...