# Update Time: 2024-1-4 1:05
version: "3.4"

services:
  # Home Assistant
  # homeassistant:
  #   image: ghcr.nju.edu.cn/home-assistant/home-assistant:stable
  #   networks: [network_cluster]
  #   restart: on-failure    
  #   environment:
  #     http_proxy: ${OPENCLASH_HTTP_PROXY}
  #     https_proxy: ${OPENCLASH_HTTP_PROXY}
  #     HTTP_PROXY: ${OPENCLASH_HTTP_PROXY}
  #     HTTPS_PROXY: ${OPENCLASH_HTTP_PROXY}
  #     TZ: ${TZ}  
  #   volumes:
  #     - nfs_homeassistant_conf:/config
  #     - /etc/localtime:/etc/localtime:ro
  #     - /run/dbus:/run/dbus:ro       
  #   deploy:
  #     labels:
  #       - "traefik.enable=true"
  #       - "traefik.http.routers.homeassistant.rule=Host(`ha.${DOMAIN_SWARM}`),`ha.${DOMAIN_EMERGENCY}`"
  #       - "traefik.http.routers.homeassistant.entrypoints=websecure"
  #       - "traefik.http.routers.homeassistant.service=homeassistant"
  #       - "traefik.http.routers.homeassistant.middlewares=cors-headers@file,noauth-chain@file"
  #       - "traefik.http.services.homeassistant.loadbalancer.server.port=8123"
  #       - homepage.group=AI & Automation
  #       - homepage.name=Home Assistant
  #       - homepage.icon=home-assistant.png
  #       - homepage.href=https://ha.${DOMAIN_SWARM}:4/
  #       - homepage.description=智能家居
  #       - homepage.siteMonitor=http://homeassistant:8123
  #       - homepage.weight=10
  #     mode: replicated
  #     replicas: 1
  #     placement:
  #       constraints:
  #         - node.labels.type == vm
  #         - node.labels.automation == true   

  homeassistant2:
    image: ghcr.nju.edu.cn/home-assistant/home-assistant:stable
    networks: [network_cluster]
    restart: on-failure    
    environment:
      http_proxy: ${OPENCLASH_HTTP_PROXY}
      https_proxy: ${OPENCLASH_HTTP_PROXY}
      HTTP_PROXY: ${OPENCLASH_HTTP_PROXY}
      HTTPS_PROXY: ${OPENCLASH_HTTP_PROXY}
      TZ: ${TZ}  
    volumes:
      - nfs_homeassistant_conf2:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro       
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.homeassistant2.rule=Host(`ha2.${DOMAIN_SWARM}`),`ha.${DOMAIN_EMERGENCY}`"
        - "traefik.http.routers.homeassistant2.entrypoints=websecure"
        - "traefik.http.routers.homeassistant2.service=homeassistant2"
        - "traefik.http.routers.homeassistant2.middlewares=cors-headers@file,noauth-chain@file"
        - "traefik.http.services.homeassistant2.loadbalancer.server.port=8123"
        - homepage.group=AI & Automation
        - homepage.name=Home Assistant 2
        - homepage.icon=home-assistant.png
        - homepage.href=https://ha2.${DOMAIN_SWARM}:4/
        - homepage.description=智能家居
        - homepage.siteMonitor=http://homeassistant2:8123
        - homepage.weight=11
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.type == vm
          - node.labels.automation == true               
                     
networks:
  network_cluster:
    external: true

x-common-keys-volume: &common-keys-volume
  type: nfs
  o: addr=${NFS_SERVER},rw,nfsvers=4

volumes:
  # NFS
  nfs_homeassistant_conf:
    driver: local
    driver_opts:
      <<: *common-keys-volume
      device: :${NFS_DEVICE}/automation/homeassistant/conf    
  nfs_homeassistant_conf2:
    driver: local
    driver_opts:
      <<: *common-keys-volume
      device: :${NFS_DEVICE}/automation/homeassistant2/conf              